/* BOTON HACIA ARRIBA */
.up{
    position: fixed;
    right: 2%;
    bottom: 4%;
    a{
    background-color: rgba(0, 0, 0, 0.287);
    padding: 15px 16px;
    border-radius:32px ;
    color: var(--color-secundario);
        &:hover{
            color: var(--color-terciario);
        }
    }
}