:root{
    --color-primario:#1F3F68 ;
    --color-secundario: #F4F4F4;
    --color-terciario: #5c5c5c;
    --color-cuartario: #316099 ;
    --color-analogo:#6b85b2;
}

html{
    scroll-behavior: smooth;
    transition: 10s;
}
/* valores globales */
body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
/* BOTON HACIA ARRIBA */
.up{
    position: fixed;
    right: 2%;
    bottom: 4%;
}
.up a{
    background-color: rgba(0, 0, 0, 0.287);
    border-radius:32px ;
    padding: 15px 16px;
    color: var(--color-secundario);
}
.up a:hover{
    color: var(--color-terciario);
}
/* HEADER */
header{
    width: 100%;
    height: 130px;
    max-width: 1366px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    padding-left:20px;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-primario);
}
h2{
    color: var(--color-primario);
}

/* BANNER */
.banner{
    width: 100%;
    height: 250px;
    background: linear-gradient(211.87deg, #98D0FC 2.46%, #3481D7 93.24%);
    margin-bottom: 56px;
    padding-top:50px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.banner h1{
    display: block;
    font-size: 44px;
    color: inherit;
    margin-bottom: 30px;
}
.banner p{
    width: 100%;
    max-width: 780px;
    padding: 0 25px;
    font-size: 20px;
    line-height: 30px;
    color: inherit;
    margin: auto;
}
.box-container{
    max-width: 100%;
    max-width: 940px;
    margin: auto;
}
/* CAJA DE BUSQUEDA */
.search-box{
    position: relative;
    margin-bottom: 56px;
}
.search-box i{
    position: absolute;
    padding: 20px 0 0 30px;
    color: var(--color-terciario);
}
.search-box input{
    width: 100%;
    padding: 19px 10px 19px 72px ;
    font-size: 16px;
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.title-section{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 34px;
    color: var(--color-analogo);
}
.post-main{
    display: flex;
    /* width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 20px;*/
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-main .text-main{
    width: 100%;
    max-width: 390px;
    min-width: 200px;
}
.post-main  .text-main h2{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 17px;
    line-height: 46px;
    letter-spacing: 0.04em;
}
.post-main .text-main p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: var(--color-terciario);
    margin-bottom: 35px;
}
.post-main figure{
    /* width: 100%; */
    max-width: 530px;
    min-width: 200px;
    /* box-sizing: border-box; */
}
.post-main figure img{
    width: 100%;
    max-width: 540px;
    min-width: 200px;
    /* width: 100%;
    justify-self: center;
    align-self: center; */
}
/* CREDITOS VALOR GLOBAL */
.credits{
    display: grid;
    grid-template-columns: 70% 15% 15%;

}
.credits h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primario);
}
.credits address{
    font-size: 14px;
    line-height: 24px;
    color: var(--color-terciario);
    opacity: 0.5;
}
.credits img{
    justify-self: center;
    align-self: center;
}

/* ARTICULOS DESTACADOS */
.secondary-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: auto ;
    column-gap: 20px;
    margin-bottom: 53px;
}
.secondary-items article{
    width: 100%;
    max-width: 300px;
}
.secondary-items figure{
    margin-bottom: 10px;
}
.secondary-items article figure img{
    width: 100%;
}
.text-article h2{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.text-article p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    margin-bottom: 33px;
    color: var(--color-terciario);
}
/* LINEA DE VER MAS ARTICULOS POPULARES */
.line{
    width: 100%;
    max-width: 940px;
    margin: auto;
    text-align: right;
    margin-bottom: 58px;
}
.line p{
    /* margin-bottom: 26px; */
    color: var(--color-analogo);
    font-weight: bold;
}
.line hr{
    border: 1px solid var(--color-terciario);
    opacity: 0.3;
}

/* ARTICULOS EN LINEA */
.other-articles{
    width: 100%;
    max-width: 940px;
    margin: auto;
    margin-bottom: 56px;
}
.other-articles article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
    /* grid-column-gap: 20px; */
    margin-bottom: 30px;
}
.other-articles article figure{
    height: 100%;
    min-width: 200px;
    max-width: 330px;
    margin-right: 20px;
}
/* .other-articles article figure img{
    width: 100%;
} */
.other-articles article .text-line{
    /* grid-column: span 2; */
    width: 100%;
    max-width: 590px;
    /* min-width: 400px; */
}
article .text-line h2{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
article .text-line p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
    color: var(--color-terciario);
}

/* POST ANTERIOR Y POSTERIOR */
.old-new-post{
    width: 100%;
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}
.old-new-post a{
    color: var(--color-analogo);
}

.old-new-post a:hover{
    color: var(--color-cuartario);
}

/* FONDO AZUL */
.background-blue{
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    width: 95%;
    height: 100%;
    min-height: 869px;
    position: absolute;
    z-index: -1;
}

/* WIDGETS */
.widgets{
    width: 100%;
    height: 100%;
    max-width: 940px;
    height: 390px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.541);
}

.widgets .box-text{
    margin-top: 90px;
}

.widgets h4{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 32px;
}
.widgets p{
    
}

.widgets .button{
    display: grid;
    height: 100%;
    min-height: 100px;
}

.widgets .button input{
    
    padding: 15px 74px;
    background: #5A98D0;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    align-self: center;
    justify-self: end;
}

/* LINEA */
.line-two{
    border: .5px solid rgba(255, 255, 255, 0.432);
    margin-bottom: 85px;
}

/* FOOTER */
footer{
    width: 100%;
    max-width: 940px;
    margin: auto;
}
.box-footer{
    display: grid;
    grid-template-columns: 45% 40% 15%;
    color: #fff;
}
.footer-widget .logo{
    margin-bottom: 20px;
    display: block;
}
.footer-widget .logo img{
    width: 160px;
}
.footer-widget .container-icons{
    display: inline-flex;
}
.icons{
    padding-right: 20px;
}
.icons p{
    font-weight: bold;
}
.icons p:nth-child(1){
    padding:5px 0 50px 0;
}
.icons p:nth-child(2){
    padding-bottom: 25px;
}
.footer-widget .title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: inherit;
    margin:10px 0 32px 0;
}
.links a, p{
    color: inherit;
}
.links li{
    font-size: 16px;
    letter-spacing: 0.05em;
    /* line-height: 26px; */
    margin-bottom: 20px;
}
.one p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}
footer .one li{
    margin-bottom: 25px;
}
.links a:hover{
    text-decoration: underline;
    transition: 0.5s;
}

footer .copy{
    grid-column: span 3;
    font-size: 16px;
    margin: 55px 0;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.4;
}

/* @media (min-width:1000px){
    .box-container, .widgets, .footer{
        padding: 0 20px;
    }
} */